In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
#importing test dataset
test=pd.read_csv('TEST_FINAL.csv')

In [4]:
#importing test dataset
train=pd.read_csv('TRAIN.csv')

In [5]:
train.columns

Index(['ID', 'Store_id', 'Store_Type', 'Location_Type', 'Region_Code', 'Date',
       'Holiday', 'Discount', '#Order', 'Sales'],
      dtype='object')

In [6]:
test.columns

Index(['ID', 'Store_id', 'Store_Type', 'Location_Type', 'Region_Code', 'Date',
       'Holiday', 'Discount'],
      dtype='object')

In [7]:
train.head()

,ID,Store_id,Store_Type,Location_Type,Region_Code,Date,Holiday,Discount,#Order,Sales
0,T1000001,1,S1,L3,R1,2018-01-01,1,Yes,9,7011.84
1,T1000002,253,S4,L2,R1,2018-01-01,1,Yes,60,51789.12
2,T1000003,252,S3,L2,R1,2018-01-01,1,Yes,42,36868.20
3,T1000004,251,S2,L3,R1,2018-01-01,1,Yes,23,19715.16
4,T1000005,250,S2,L3,R4,2018-01-01,1,Yes,62,45614.52

In [8]:
train.tail()

,ID,Store_id,Store_Type,Location_Type,Region_Code,Date,Holiday,Discount,#Order,Sales
188335,T1188336,149,S2,L3,R2,2019-05-31,1,Yes,51,37272.00
188336,T1188337,153,S4,L2,R1,2019-05-31,1,No,90,54572.64
188337,T1188338,154,S1,L3,R2,2019-05-31,1,No,56,31624.56
188338,T1188339,155,S3,L1,R2,2019-05-31,1,Yes,70,49162.41
188339,T1188340,152,S2,L1,R1,2019-05-31,1,No,47,37977.00

In [9]:
#adding #order column to test
test['#Order']='test'

In [10]:
#adding sales column to test
test['Sales']='test'

In [11]:
test.shape

(22265, 10)

In [12]:
train.shape

(188340, 10)

In [13]:
#combining test and train dataset
df=pd.concat([test,train],axis=0)

In [14]:
df.head()

,ID,Store_id,Store_Type,Location_Type,Region_Code,Date,Holiday,Discount,#Order,Sales
0,T1188341,171,S4,L2,R3,2019-06-01,0,No,test,test
1,T1188342,172,S1,L1,R1,2019-06-01,0,No,test,test
2,T1188343,173,S4,L2,R1,2019-06-01,0,No,test,test
3,T1188344,174,S1,L1,R4,2019-06-01,0,No,test,test
4,T1188345,170,S1,L1,R2,2019-06-01,0,No,test,test

In [15]:
#extracting year from  date
year=df['Date'].apply(lambda x:x[0:4])

In [16]:
#extracting month from  date
month=df['Date'].apply(lambda x:x[5:7])

In [17]:
#extracting date from  date
date=df['Date'].apply(lambda x:x[8:10])

In [18]:
#adding year column to df
df['year']=year

In [19]:
#adding month column to df
df['month']=month

In [20]:
#adding date column to df
df['date']=date

In [21]:
#dropping date column
df=df.drop('Date',axis=1)

In [22]:
df.shape

(210605, 12)

In [23]:
#checking null values
df.isnull().sum().sort_values(ascending=True)

ID               0
Store_id         0
Store_Type       0
Location_Type    0
Region_Code      0
Holiday          0
Discount         0
#Order           0
Sales            0
year             0
month            0
date             0
dtype: int64

In [24]:
#datatypes
df.dtypes

ID               object
Store_id          int64
Store_Type       object
Location_Type    object
Region_Code      object
Holiday           int64
Discount         object
#Order           object
Sales            object
year             object
month            object
date             object
dtype: object

In [25]:
#dividing the data into object and numeric
obj=df.select_dtypes(include=['object'])
num=df.select_dtypes(include=np.number)

In [26]:
#shape of object and numeric
print(obj.shape)
print(num.shape)

(210605, 10)
(210605, 2)

In [27]:
#dividing the categorical data from numeric and converting into dataframe
cat=num['Holiday']
cat=pd.DataFrame(cat,columns=['Holiday'])

In [28]:
#dropping holiday column from the num column
num=num.drop('Holiday',axis=1)

In [29]:
#adding sales column from obj to num
num['Sales']=obj['Sales']

In [30]:
#adding order column from obj to num
num['#Order']=obj['#Order']

In [31]:
#dropping sales from obj
obj=obj.drop('Sales',axis=1)

In [32]:
#dropping #order from obj
obj=obj.drop('#Order',axis=1)

In [33]:
#dropping ID from obj
obj=obj.drop('ID',axis=1)

In [34]:
obj.columns

Index(['Store_Type', 'Location_Type', 'Region_Code', 'Discount', 'year',
       'month', 'date'],
      dtype='object')

In [35]:
num.columns

Index(['Store_id', 'Sales', '#Order'], dtype='object')

In [36]:
#applying label encoder for cat data
catdummy=pd.get_dummies(cat)

In [37]:
#applying label encoder for obj data
objdummy=pd.get_dummies(obj)

In [38]:
#combining the obj,catdummy and num data
cleandf=pd.concat([catdummy,num,objdummy],axis=1)

In [39]:
cleandf.head()

,Holiday,Store_id,Sales,#Order,Store_Type_S1,Store_Type_S2,Store_Type_S3,Store_Type_S4,Location_Type_L1,Location_Type_L2,...,date_22,date_23,date_24,date_25,date_26,date_27,date_28,date_29,date_30,date_31
0,0,171,test,test,0,0,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
1,0,172,test,test,1,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
2,0,173,test,test,0,0,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
3,0,174,test,test,1,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
4,0,170,test,test,1,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0

In [40]:
#dropping store_id from cleandf
cleandf=cleandf.drop('Store_id',axis=1)

In [41]:
#again dividing data into train and test
traindf=cleandf[cleandf['Sales']!='test']
testdf=cleandf[cleandf['Sales']=='test']

In [42]:
#dropping #order and sales from the test data
testdf=testdf.drop(['Sales','#Order'],axis=1)

In [43]:
#Linear Regression
from sklearn.linear_model import LinearRegression

In [44]:
lr=LinearRegression()

In [45]:
#independent and dependent variables for sales prediction
y=traindf['Sales']
X=traindf.drop(['Sales','#Order'],axis=1)

In [46]:
y.isnull().sum()

0

In [47]:
#model building for sales prediction
lrmodel1=lr.fit(X,y)

In [48]:
lrmodel1.score(X,y) #R-Square

0.57403705036538

In [49]:
lrpredict1=lrmodel1.predict(testdf)

In [50]:
#converting data to csv file
pd.DataFrame(lrpredict1).to_csv('lrtest.csv')

In [51]:
lrpredict2=lrmodel1.predict(X)

In [52]:
from sklearn.model_selection import cross_val_score

In [53]:
cross_val_score(lr,X,y)

array([ 4.79587396e-01, -4.64141761e+22, -5.91269603e+24, -1.94021183e+25,
        5.19138209e-01])

In [54]:
res=y-lrpredict2 #Residual

In [55]:
np.sqrt(np.mean(res**2)) #RMSE

12045.8932008499

In [56]:
from sklearn.tree import DecisionTreeRegressor

In [57]:
dt=DecisionTreeRegressor()

In [58]:
#model building for predicting sales
dtmodel1=dt.fit(X,y)

In [59]:
dtmodel1.score(X,y) #R-Square

0.7887463888883641

In [60]:
#prediction of test data
dtpredict1=dtmodel1.predict(testdf)

In [61]:
#converting data to csv file
pd.DataFrame(dtpredict1).to_csv('dttest.csv')

In [62]:
dtpredict2=dtmodel1.predict(X)

In [63]:
cross_val_score(dt,X,y)

array([0.4463035 , 0.29241325, 0.29388059, 0.45107597, 0.33733951])

In [64]:
res=y-dtpredict2 #Residual

In [65]:
np.sqrt(np.mean(res**2)) #RMSE

8483.111322883016

In [66]:
from sklearn.ensemble import RandomForestRegressor

In [67]:
rf=RandomForestRegressor(n_estimators=500)

In [68]:
rfmodel1=rf.fit(X,y)

In [69]:
rfmodel1.score(X,y) #R-Square

0.7867647948843612

In [70]:
rfpredict1=rfmodel1.predict(testdf)

In [71]:
pd.DataFrame(rfpredict1).to_csv('rftest.csv')

In [72]:
rfpredict2=rfmodel1.predict(X)

In [73]:
res=y-rfpredict2 #Residual

In [74]:
np.sqrt(np.mean(res**2)) #RMSE

8522.804954414109

In [75]:
from sklearn.ensemble import GradientBoostingRegressor

In [76]:
gb=GradientBoostingRegressor(n_estimators=500)

In [78]:
#model building for predicting sales
gbmodel1=gb.fit(X,y)

In [79]:
gbmodel1.score(X,y) #R-Square

0.6924466578014459

In [80]:
#prediction of test data
gbpredict1=gbmodel1.predict(testdf)

In [81]:
pd.DataFrame(gbpredict1).to_csv('gbtest.csv')

In [82]:
gbpredict2=gbmodel1.predict(X)

In [83]:
res=y-gbpredict2 #Residual

In [84]:
np.sqrt(np.mean(res**2)) #RMSE

10235.600361870509

In [85]:
#xgboost
from xgboost import XGBRegressor

In [86]:
xgb=XGBRegressor(n_estimators=500,learning_rate=0.09)

In [87]:
#model building for predicting sales
xgbmodel1=xgb.fit(X,y)

In [88]:
xgbmodel1.score(X,y) #R-Square

0.7550845785958062

In [89]:
#prediction of test data
xgbpredict1=xgbmodel1.predict(testdf)

In [90]:
#converting data to csv file
pd.DataFrame(xgbpredict1).to_csv('xgbtest.csv')

In [91]:
xgbpredict2=xgbmodel1.predict(X)

In [92]:
res=y-xgbpredict2 #Residual

In [93]:
np.sqrt(np.mean(res**2)) #RMSE

9134.003243206429